<section class="single_grid_w3_main align-w3-abt" id="about">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">Superior Services</h4>
                <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                    out and
                    make it more readable.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-ravelry"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="abt-grid">
                        <div class="row">
                            <div class="col-3">
                                <div class="abt-icon">
                                    <span class="fa fa-laptop"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="abt-txt">
                                    <h4>takimata sanctus</h4>
                                    <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="about.html" class="btn w3ls-btn">view more</a>
            </div>
        </div>
    </section>
