<section class="banner">
        <!-- banner text -->
        <div class="container">
            <div class="banner_text_wthree_pvt">
                <h3 class="home-banner-w3">helping you with any of your business needs!</h3>

                <p class="bnr-txt">Lorem ipsum dolor sit amet,Stet clita kasd gubergren, Lorem ipsum dolor sit
                    amet,Stet clita kasd gubergren,

                </p>
                <div class="row">
                    <div class="col-lg-4">
                        <form action="#" method="post">
                            <div class="input-group">
                                <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                    <option selected="">Choose...</option>
                                    <option value="1">lorem ipsum</option>
                                    <option value="2">tet clita kasd</option>
                                    <option value="3">Kasd gubergre</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn bg-theme" type="button">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner text -->
        <!-- banner-bottom -->
        <div class="banner-bottom-w3ls">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-6">
                        <div class="bb-img">
                            <img src="../../assets/images/a2.jpg" class="img-fluid img-thumbnail" alt="">
                            <h3>caption goes here</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div class="bb-img">
                            <img src="../../assets/images/a1.jpg" class="img-fluid img-thumbnail" alt="">
                            <h3>caption goes here</h3>
                        </div>
                    </div>
                    <div class="col-sm-4 col-6 mx-auto mt-sm-0 mt-4">
                        <div class="bb-img">
                            <img src="../../assets/images/a3.jpg" class="img-fluid img-thumbnail" alt="">
                            <h3>caption goes here</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner-bottom -->
    </section>
    <app-about></app-about>
